section.intro
    img( src=require('../../img/header-bg.jpg') ).intro__background
    .container
        .intro__inner

            h1.intro__title Семантическое Ядро
            h3.intro__subtitle Под Инфо Проекты
            ul.intro__list
                li Для статейных сайтов
                li Журналы/Блоги
                li Контент-план
                li ТЗ копирайтеру

            div
                a( href="#" ).intro__button.btn.btn-primary-while Цены
                a( href="#" ).intro__button.btn.btn-primary Заказать