section.prices
    .container
        h2.prices__title.section-title Цены и Примеры

        .prices__inner

            .prices-block
                .prices-block__inner
                    .prices-block__image
                        img( src=require('../../img/article-img.jpg') )
                        i.icon-zoom-in

                    h4.prices-block__title ТЗ + ключи под Статью
                    ul.prices-block__list
                        li Для статей обычного размера
                        li Объемом до 15к символов
                        li В структуре статьи будет 8-16 подзаголовков

                    a( href="#" target="_blank" ).btn-underline.prices-block__button-link
                        span Пример ТЗ
                        i.icon-external-link

                .prices-block__button.btn.btn-primary-split
                    span Заказать
                    span $20 за ТЗ

            div
                h5.prices-block__subtitle Оба Тарифа Включают:

                ul.prices-block__include-list.is-darker
                    li Все запросы по теме статьи;
                    li С кластеризацией и чисткой;
                    li Данные: Ahrefs, Semrush, Keywordstool.

                ul.prices-block__include-list
                    li Рекомендуемый заголовок;
                    li Оптимальный объем текста;
                    li Коэффициент важности ключей;
                    li Мета-теги;
                    li LSI-слова;
                    li Структура каждой статьи;
                    li Подзаголовки (h1-h4);
                    li Советы для статьи;
                    li Перелинковка (от 50шт) шл.

            .prices-block
                .prices-block__inner
                    .prices-block__image
                        img( src=require('../../img/longread-img.png') )
                        i.icon-zoom-in

                    h4.prices-block__title ТЗ + ключи под Лонгрид
                    ul.prices-block__list
                        li Для больших статей (powerpage)
                        li Объемом от 15к до 100к символов
                        li В структуре от 16 до 125 подзаголовков

                    a( href="#" target="_blank" ).btn-underline.prices-block__button-link
                        span Пример ТЗ
                        i.icon-external-link

                .prices-block__button.btn.btn-primary-split
                    span Заказать
                    span $100 за ТЗ
