section.process
    .container.process__container
        .process__inner
            h2.section-title.process__title#anchor-process Процесс Работы

            .videos-box

                .videos-box__list-container.swiper-container.process__slider

                    .swiper-wrapper.videos-box__list

                        .swiper-slide
                            .video__inner
                                .video__img-box( data-fancybox data-src="https://www.youtube.com/watch?v=n4VXcYWvETU" )
                                    img.video__img( src=require('../../img/process-1.png') alt="Процесс написания текстов" )
                                    .video__view
                                        i.icon-play

                                .video__title Процесс написания текстов

                        .swiper-slide
                            .video__inner
                                .video__img-box( data-fancybox data-src="https://www.youtube.com/watch?v=S4HSEbWPqlA" )
                                    img.video__img( src=require('../../img/process-2.png') alt="Процесс написания текстов" )
                                    .video__view
                                        i.icon-play

                                .video__title Процесс написания текстов

                        .swiper-slide
                            .video__inner
                                .video__img-box( data-fancybox data-src="https://www.youtube.com/watch?v=stYvCmQg5cs" )
                                    img.video__img( src=require('../../img/process-3.png') alt="Работа в команде" )
                                    .video__view
                                        i.icon-play

                                .video__title Работа в команде

                    .slider__pagination.videos-box__pagination

                .process__telegram.contact-box.videos-box__link-box
                    .contact-box__btn.btn-round-primary
                        i.icon-telegram

                    span.contact-box__vertical-line

                    .contact-box__content
                        span Остались вопросы?
                        a( href="https://t.me/alexpavlutskiy" target="_blank" ) Напиши в Телеграм