section.contacts
    .container
        h2.section-title.contacts__title#anchor-contacts Контакты
        .contacts__inner
            img( src=require('../../img/decor-1.png') alt='').dot.dot-1.contacts__dot-left
            h3.contacts__subtitle Свяжитесь с нами:
            .contacts__row
                .contacts__social-list
                    a( href="#" target="_blank").contacts__social.contacts-social
                        .contacts-social__inner
                            i.icon-whatsapp
                            span
                                .contacts-social__value +380 93 153 90 90
                                .contacts-social__name WhatsApp

                    a( href="#" target="_blank").contacts__social.contacts-social
                        .contacts-social__inner
                            i.icon-at
                            span
                                .contacts-social__value info@nx-agency.com

                    a( href="#" target="_blank").contacts__social.contacts-social
                        .contacts-social__inner
                            i.icon-telegram
                            span
                                .contacts-social__value @nx-agency
                                .contacts-social__name Телеграм

                    a( href="#" target="_blank").contacts__social.contacts-social
                        .contacts-social__inner
                            i.icon-facebook
                            span
                                .contacts-social__value @nx-agency


                .contacts__media-list

                    a( href="#" target="_blank").contacts__media.contacts-media
                        .contacts-media__inner
                            i.icon-website
                            span
                                .contacts-media__title Сайт
                                div агенства

                    a( href="#" target="_blank").contacts__media.contacts-media
                        .contacts-media__inner
                            i.icon-blog
                            span
                                .contacts-media__title Блог
                                div агенства

                    a( href="#" target="_blank").contacts__media.contacts-media
                        .contacts-media__inner
                            i.icon-telegram-filled.is-small
                            span
                                .contacts-media__title Телеграм
                                div канал
