section.questions
    .container
        .questions__inner
            h2.section-title.questions__title#anchor-questions Вопросы и Ответы

            .questions__grid

                .questions__item.question
                    .question__inner
                        .question__front.collapsed( data-toggle="collapse" data-target="#question-1" )
                            span Сколько запросов будет в ядре?
                            i.icon-down-arrow

                        .question__answer.collapse( id="question-1" )
                            .question__answer-content
                                p.
                                    Скидка возможна в таких случаях: <br/>
                                    1. Вы уже заказывали у нас семантическое ядро (тогда скидка гарантирована);<br/>
                                    2. Вы оплачиваете большой объем (от 1000$ или 500 ТЗ копирайтеру). <br/>
                                    3. Вы уже заказывали у нас ядро (тогда скидка);<br/>
                                    4. Вы уже у нас семантическое ядро (тогда скидка гарантирована);<br/>

                .questions__item.question
                    .question__inner
                        .question__front.collapsed( data-toggle="collapse" data-target="#question-2" )
                            span В какой форме происходит оплата?
                            i.icon-down-arrow

                        .question__answer.collapse( id="question-2" )
                            .question__answer-content
                                p.
                                    Скидка возможна в таких случаях: <br/>
                                    1. Вы уже заказывали у нас семантическое ядро (тогда скидка гарантирована);<br/>
                                    2. Вы оплачиваете большой объем (от 1000$ или 500 ТЗ копирайтеру).

                .questions__item.question
                    .question__inner
                        .question__front.collapsed( data-toggle="collapse" data-target="#question-3" )
                            span Возможна ли скидка?
                            i.icon-down-arrow

                        .question__answer.collapse( id="question-3" )
                            .question__answer-content
                                p.
                                    Скидка возможна в таких случаях: <br/>
                                    1. Вы уже заказывали у нас семантическое ядро (тогда скидка гарантирована);<br/>
                                    2. Вы оплачиваете большой объем (от 1000$ или 500 ТЗ копирайтеру). <br/>

                .questions__item.question
                    .question__inner
                        .question__front.collapsed( data-toggle="collapse" data-target="#question-4" )
                            span Получу ли я консультацию по использованию СЯ?
                            i.icon-down-arrow

                        .question__answer.collapse( id="question-4" )
                            .question__answer-content
                                p.
                                    Скидка возможна в таких случаях: <br/>
                                    1. Вы уже заказывали у нас семантическое ядро (тогда скидка гарантирована);<br/>
                                    2. Вы оплачиваете большой объем (от 1000$ или 500 ТЗ копирайтеру).


                .questions__item.question
                    .question__inner
                        .question__front.collapsed( data-toggle="collapse" data-target="#question-5" )
                            span Какие сроки составления семантического ядра?
                            i.icon-down-arrow

                        .question__answer.collapse( id="question-5" )
                            .question__answer-content
                                p.
                                    Скидка возможна в таких случаях: <br/>
                                    1. Вы уже заказывали у нас семантическое ядро (тогда скидка гарантирована);<br/>
                                    2. Вы оплачиваете большой объем (от 1000$ или 500 ТЗ копирайтеру).

                .questions__item.question
                    .question__inner
                        .question__front.collapsed( data-toggle="collapse" data-target="#question-6" )
                            span Как мне гарантировано получить качественное ядро?
                            i.icon-down-arrow

                        .question__answer.collapse( id="question-6" )
                            .question__answer-content
                                p.
                                    Скидка возможна в таких случаях: <br/>
                                    1. Вы уже заказывали у нас семантическое ядро (тогда скидка гарантирована);<br/>
                                    2. Вы оплачиваете большой объем (от 1000$ или 500 ТЗ копирайтеру).