section.statistics
    .container.statistics__container
        .row.statistics__row
            .col-12.col-md-3.statistics__item-box
                .statistics__item
                    svg.statistics__item-icon.statistics__item-icon-experiance
                        use( xlink:href=sprite('icon-experiance') )

                    span 10 Лет Опыта

            .col-12.col-md-3.statistics__item-box
                .statistics__item
                    svg.statistics__item-icon.statistics__item-icon-orders
                        use( xlink:href=sprite('icon-orders') )

                    span 1000+ Заказов

            .col-12.col-md-3.statistics__item-box
                .statistics__item
                    svg.statistics__item-icon.statistics__item-icon-difficult
                        use( xlink:href=sprite('icon-difficult') )

                    span Любая Сложность

            .col-12.col-md-3.statistics__item-box
                .statistics__item
                    svg.statistics__item-icon.statistics__item-icon-lang
                        use( xlink:href=sprite('icon-lang') )

                    span Любой Язык

        span.statistics__line
