section.cooperation
    img( src=require('../../img/partner-bg.jpg') ).cooperation__background
    .container
        .cooperation__inner
            h2.section-title.cooperation__title Сотрудничество для Телеграм-каналов

            .row
                .col-12.col-md-6
                    img( src=require('../../img/partner-img.png') )

                .col-12.col-md-6.cooperation__content
                    p.mb-45.cooperation__content-description.
                        Имеете блог в подходящей тематике или вас часто спрашивают о том, где заказать семантическое ядро?<br/>
                        <br/>
                        Присоединяйтесь к моей партнерской программе и получайте 15-20% от каждого заказа.


                    .section-subtitle-2 $750
                    p.mb-35 Максимальная единоразовая выплата партнеру за одного клиента.

                    .section-subtitle-2 $6000
                    p Максимальный доход партнера за 3 месяца.

            .row
                .cooperation__button.btn.btn-primary Присоединиться