section.statistics
    .container.statistics__container
        .row.statistics__row
            .col-6.col-md-3.statistics__item-box
                .statistics__item
                    svg
                        use( xlink:href=sprite('icon-experiance') )

                    span 10 Лет Опыта

            .col-6.col-md-3.statistics__item-box
                .statistics__item
                    svg
                        use( xlink:href=sprite('icon-orders') )

                    span 1000+ Заказов

            .col-6.col-md-3.statistics__item-box
                .statistics__item
                    svg
                        use( xlink:href=sprite('icon-difficult') )

                    span Любая Сложность

            .col-6.col-md-3.statistics__item-box
                .statistics__item
                    svg
                        use( xlink:href=sprite('icon-lang') )

                    span Любой Язык

        span.statistics__line
