section.process
    .container
        .process__inner
            h2.section-title.process__title#anchor-process Процесс Работы

            .videos-box

                .videos-box__list

                    .video
                        .video__inner
                            .video__img-box
                                img.video__img( src=require('../../img/process-1.png') )
                                .video__view( data-fancybox data-src="https://www.youtube.com/watch?v=n4VXcYWvETU" )
                                    i.icon-play

                            .video__title Процесс написания текстов

                    .video
                        .video__inner
                            .video__img-box
                                img.video__img( src=require('../../img/process-2.png') )
                                .video__view( data-fancybox data-src="https://www.youtube.com/watch?v=S4HSEbWPqlA" )
                                    i.icon-play

                            .video__title Процесс написания текстов

                    .video
                        .video__inner
                            .video__img-box
                                img.video__img( src=require('../../img/process-3.png') )
                                .video__view( data-fancybox data-src="https://www.youtube.com/watch?v=stYvCmQg5cs" )
                                    i.icon-play

                            .video__title Работа в команде

                .process__telegram.contact-box.videos-box__link-box
                    .contact-box__btn.btn-round-primary
                        i.icon-telegram

                    span.contact-box__vertical-line

                    .contact-box__content
                        span Остались вопросы?
                        a( href="#" target="_blank" ) Напиши в Телеграм