section.prices
    .container
        h2.prices__title.section-title#anchor-prices Цены и Примеры

        .prices__grid

            .prices-block
                .prices-block__inner
                    .prices-block__image
                        img( src=require('../../img/article-img.jpg') )
                        i( data-fancybox data-src=require('../../img/article-img.jpg')).icon-zoom-in

                    h4.prices-block__title ТЗ + ключи под Статью
                    ul.prices-block__list.list
                        li Для статей обычного размера
                        li Объемом до 15к символов
                        li В структуре статьи будет 8-16 подзаголовков

                    a( href="#" target="_blank" ).btn-underline.prices-block__button-link
                        span Пример ТЗ
                        i.icon-external-link

                .prices-block__button.btn.btn-primary-split( data-toggle="modal" data-target="#modal-order" )
                    span Заказать
                    span $20 за ТЗ

            div
                h5.prices-block__subtitle Оба Тарифа Включают:

                ul.prices-block__include-list.is-darker.list
                    li Все запросы по теме статьи;
                    li С кластеризацией и чисткой;
                    li Данные: Ahrefs, Semrush, Keywordstool.

                ul.prices-block__include-list.list
                    li Рекомендуемый заголовок;
                    li Оптимальный объем текста;
                    li Коэффициент важности ключей;
                    li Мета-теги;
                    li LSI-слова;
                    li Структура каждой статьи;
                    li Подзаголовки (h1-h4);
                    li Советы для статьи;
                    li Перелинковка (от 50шт) шл.

            .prices-block
                .prices-block__inner
                    .prices-block__image
                        img( src=require('../../img/longread-img.png') )
                        i( data-fancybox data-src=require('../../img/longread-img.png') ).icon-zoom-in

                    h4.prices-block__title ТЗ + ключи под Лонгрид
                    ul.prices-block__list.list
                        li Для больших статей (powerpage)
                        li Объемом от 15к до 100к символов
                        li В структуре от 16 до 125 подзаголовков

                    a( href="#" target="_blank" ).btn-underline.prices-block__button-link
                        span Пример ТЗ
                        i.icon-external-link

                .prices-block__button.btn.btn-primary-split( data-toggle="modal" data-target="#modal-order" )
                    span Заказать
                    span $100 за ТЗ

        .prices__areas.prices-areas
            h3.prices-areas__title Любим работать в самых <br/> Конкуретных <span class="primary-color">Нишах!</span>

            ul.prices-areas__list
                li.prices-areas__area
                    svg
                        use( xlink:href=sprite('icon-betting') )
                    span.line
                    span Беттинг

                li.prices-areas__area
                    svg
                        use( xlink:href=sprite('icon-gambling') )
                    span.line
                    span Гемблинг

                li.prices-areas__area
                    svg
                        use( xlink:href=sprite('icon-business') )
                    span.line
                    span Локал Бизнес

                li.prices-areas__area
                    svg
                        use( xlink:href=sprite('icon-startup') )
                    span.line
                    span Стартап

                li.prices-areas__area
                    svg
                        use( xlink:href=sprite('icon-pharma') )
                    span.line
                    span Pharma