section.webinar
    img( src=require('../../img/decor-1.png') ).dot.dot-2.webinar__dot-top
    .container
        .webinar__inner
            h3.webinar__title Вебинары

            .videos-box
                .videos-box__list

                    .video
                        .video__inner
                            .video__img-box
                                img.video__img( src=require('../../img/process-1.png') )
                                .video__view( data-fancybox data-src="https://www.youtube.com/watch?v=n4VXcYWvETU" )
                                    i.icon-play

                            .video__title Процесс написания текстов

                    .video
                        .video__inner
                            .video__img-box
                                img.video__img( src=require('../../img/process-2.png') )
                                .video__view( data-fancybox data-src="https://www.youtube.com/watch?v=S4HSEbWPqlA" )
                                    i.icon-play

                            .video__title Процесс написания текстов

                    .video
                        .video__inner
                            .video__img-box
                                img.video__img( src=require('../../img/process-3.png') )
                                .video__view( data-fancybox data-src="https://www.youtube.com/watch?v=stYvCmQg5cs" )
                                    i.icon-play

                            .video__title Работа в команде

                .contact-box.videos-box__link-box.webinar__youtube

                    i.webinar__youtube-arrow.icon-right-arrow
                    p.webinar__youtube-text Смотреть больше на нашем
                    .webinar__youtube-box
                        svg
                            use( xlink:href=sprite('youtube') )

                        span  <span class="red">Youtube</span> канале
