.cooperation
  position: relative
  overflow: hidden
  margin-top: 150px

  &__image-column img
    display: block

  &__background
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    min-width: 100%
    min-height: 100%
    z-index: -1
    opacity: 0.7

  &__content
    &-description
      font-family: 'TTCommons', sans-serif

    .mb-35
      margin-bottom: 25px

    .mb-45
      margin-bottom: 35px

    .section-subtitle-2
      font-family: 'TTCommons Bold', sans-serif
      margin-bottom: 10px

  &__button
    display: block
    margin: 30px auto 0
    border: none
    box-shadow: $box-shadow-25

@media screen and (min-width: 1300px)
  .cooperation
    &__title
      margin-bottom: 90px

    &__inner
      padding-top: 60px
      padding-bottom: 65px

    &__image-column
      padding-left: 31px
      padding-right: 0

    &__content
      padding-top: 30px
      padding-left: 28px

@media screen and (max-width: 1299px)
  .cooperation
    margin-top: 90px

    &__title
      margin-bottom: 85px

    &__inner
      padding-top: 70px
      padding-bottom: 50px

    &__image-column
      padding-right: 0

    &__content
      &-description
        font-size: 18px

      .mb-35
        margin-bottom: 30px

      .mb-45
        margin-bottom: 35px

@media screen and (min-width: 992px)
  .cooperation
    &__image-column img
      max-width: 100%


@media screen and (min-width: 1561px)
  .cooperation
    &__image-column
      padding-left: 0
      padding-right: 0

      img
        max-width: 747px
        width: 100%
        margin-left: auto
        margin-right: 0


@media screen and (max-width: 991px)
  .cooperation
    margin-top: 100px

    &__title
      margin-bottom: 80px

    &__image-column
      padding-right: 0
      padding-left: 0

    &__button
      margin-top: 65px

    &__content
      text-align: center

      &-description
        text-align: left

@media screen and (max-width: 767px)
  .cooperation
    margin-top: 120px

    &__inner
      padding-top: 65px

    &__title
      margin-bottom: 55px

    &__image-column
      margin-bottom: 40px