.pluses
  position: relative
  margin-top: 140px
  background: #F4F8FF

  &__dot-top
    display: none

  &__dot-center
    left: 49%
    top: 29%

  &__dot-prices
    bottom: -2%
    left: -27%

  li
    font-family: "TTCommons", sans-serif

  &__inner
    padding-top: 60px
    padding-bottom: 65px

  &__grid
    display: grid
    grid-template-columns: 1fr 340px 1fr
    grid-column-gap: 90px

    > div
      position: relative

  &__list
    margin-top: 15px

  &__prices
    position: relative
    background: #ffffff
    border-radius: 7px
    padding: 40px 50px

    li
      display: flex
      align-items: center
      line-height: normal

      span
        margin-top: 3px

    &-icon
      padding: 10px 6px
      border-radius: 7px
      background: #F3F3F3
      margin-right: 18px

      svg
        display: block
        max-width: 28px
        max-height: 19px

    &-rate
      display: block
      margin-top: 30px
      font-family: 'TTCommons Italic', sans-serif
      font-style: italic


@media screen and (min-width: 1300px)
  .pluses
    &__text-column
      padding-top: 50px

    &__dot-top
      display: block
      left: 0
      top: 0
      transform: translateY(-30%)


@media screen and (max-width: 1299px)
  .pluses
    overflow: hidden

    &__dot-center
      left: 74%

    &__grid
      grid-template-columns: 1fr 340px
      grid-row-gap: 50px
      padding-left: 50px
      padding-right: 100px

    &__prices-column
      grid-column: 2
      grid-row: 1/3

      display: flex
      align-items: center


@media screen and (min-width: 992px)
  .pluses__prices li
    margin: 20px 0

    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

@media screen and (max-width: 991px)
  .pluses
    margin-top: 100px

    &__inner
      padding-top: 65px
      padding-bottom: 45px

    &__dot-prices
      display: none

    &__dot-center
      top: 160px

    &__grid
      display: block
      padding-left: 0
      padding-right: 0

    &__prices
      width: 100%
      padding: 30px 65px 20px
      margin-top: 25px
      margin-bottom: 25px

      ul
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 18%
        grid-row-gap: 20px

      &-rate
        margin-top: 15px

@media screen and (max-width: 991px)
  .pluses
    &__prices
      padding-left: 30px
      padding-right: 30px

      ul
        grid-template-columns: 1fr

      &-rate
        margin-top: 20px

@media screen and (max-width: 767px)
  .pluses
    &__title
      margin-bottom: 60px

    &__dot-center
      left: unset
      right: 0

    &__list
      font-size: 18px
      margin-top: -5px

      li
        padding-left: 1rem

      li:before
        width: 0.9rem

    &__prices
      &-list
        font-size: 18px

      &-rate
        font-size: 16px