.process
  margin-top: 120px

  &__inner
    padding-bottom: 75px
    border-bottom: 1px solid #E9F0FF

  &__telegram
    display: flex
    align-items: center
    align-self: flex-start

@media screen and (min-width: 1300px)
  .process__telegram
    padding: 2.2% 3%

@media screen and (max-width: 1299px)
  .process
    margin-top: 140px

    &__telegram
      padding: 25px 35px

@media screen and (max-width: 991px)
  .process
    &__container
      max-width: 100%
      width: 100%

    &__telegram
      width: 100%

    &__inner
      padding-bottom: 100px


@media screen and (max-width: 767px)
  .process
    margin-top: 80px

    &__inner
      padding-bottom: 0
      border-bottom: 0

    &__telegram
      width: calc(100% + 60px)
      margin-left: -30px
      margin-right: -30px
      padding: 20px 25px
