.statistics

  &__container
    padding-top: 70px
    padding-bottom: 70px
    border-bottom: 1px solid #F5F5F5

  &__item
    display: flex
    align-items: center
    justify-content: center

    svg
      max-width: 58px
      max-height: 43px
      margin-right: 30px

    &-box:not(:last-child):before
      content: ''
      position: absolute
      top: 50%
      right: 0
      transform: translateY(-50%)
      width: 1px
      height: 86px
      background: #EFEFEF
