.statistics

  &__container
    padding-top: 80px

  &__line
    margin-top: 70px
    display: block
    width: 100%
    height: 1px
    background: #F5F5F5

  &__item
    display: flex
    align-items: center
    justify-content: center

    svg
      max-width: 58px
      max-height: 43px
      margin-bottom: 4px

    &-box:not(:last-child):before
      content: ''
      position: absolute
      top: 50%
      right: 0
      transform: translateY(-50%)
      width: 1px
      height: 86px
      background: #EFEFEF


@media screen and (max-width: 1299px)
  .statistics
    &__item
      &-box:not(:last-child):before
        content: unset

@media screen and (min-width: 992px)
  .statistics
    &__item
      svg
        margin-right: 20px

@media screen and (max-width: 991px)
  .statistics
    &__container
      padding-top: 60px

    &__line
      margin-top: 55px

    &__item
      flex-direction: column

      svg
        margin-bottom: 18px

@media screen and (max-width: 767px)
  .statistics
    &__container
      padding-top: 65px

    &__row
      grid-row-gap: 55px

    &__item
      font-size: 18px
      text-align: center