.webinar
  position: relative
  background: #F4F8FF
  margin-top: 260px

  &__dot-top
    top: 0
    left: 56%
    transform: translateY(-8%)

  &__inner
    padding-top: 45px
    padding-bottom: 60px

  &__title
    line-height: 60px
    margin-bottom: 70px

  &__youtube
    transition: border .3s
    position: relative
    border: 2px solid #ffffff

    &:hover
      border-color: #6F5EEA

      .webinar__youtube-arrow
        right: 9%

    .red
      color: #F95D5D

  &__youtube-text
    margin-bottom: 30px

  &__youtube-box
    font-family: 'TTCommons DemiBold', sans-serif
    font-size: 25px
    display: flex
    align-items: center

    svg
      max-width: 52px
      max-height: 49px
      margin-right: 25px

  &__youtube-arrow
    transition: right .3s
    position: absolute
    right: 12%
    top: 50%
    transform: translateY(-50%)
    color: $color-primary
    font-size: 16px

@media screen and (min-width: 1300px)
  .webinar
    &__youtube
      padding: 2.5% 4.8%

@media screen and (max-width: 1299px)
  .webinar
    margin-top: 140px

    &__dot-top
      left: unset
      right: 0
      transform: translateY(-20%)

    &__inner
      padding-left: 50px
      padding-right: 50px
      padding-bottom: 0

    &__youtube
      padding: 25px 70px 25px 25px
      transform: translateY(50%)
      margin-top: 28px

      &:hover
        .webinar__youtube-arrow
          right: 4%

      &-box span
        margin-top: 4px

      &-text
        display: none

      &-arrow
        right: 6%

@media screen and (min-width: 991px)
  .webinar
    &__youtube-slide-container
      display: none

@media screen and (max-width: 991px)
  .webinar
    margin-top: 160px

    &__inner
      padding-bottom: 40px

    &__title
      margin-bottom: 60px

    &__videos-box
      padding-left: 0
      padding-right: 0

    &__youtube-slide-container
      height: unset

    &__youtube-slide
      transform: unset
      padding: 35px 30px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      margin-top: 0
      height: 100%
      max-height: 180px

    &__youtube:not(&__youtube-slide)
      display: none

    &__youtube-text
      display: block
      font-size: 18px
      margin-top: 15px
      margin-bottom: 15px

    &__youtube-box svg
      margin-right: 0
      max-width: 48px
      max-height: 45px

    &__youtube-title
      font-size: 22px
      font-family: 'TTCommons DemiBold', sans-serif

    &__slider-list
      display: flex
