.reviews-down-line
  position: relative

  &__container
    position: relative

  &__dot-right
    bottom: 0
    right: 0
    transform: translateY(108%)
    z-index: 2

  &__inner
    position: relative
    z-index: 1
    padding: 30px 65px
    display: flex
    align-items: center
    justify-content: space-between
    background: #F4F8FF
    border-radius: 20px

  &__buttons
    display: flex

  &__button
    margin: 0 15px

    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

  &__text
    font-size: 19px

    display: flex
    align-items: center

    p
      font-size: 17px

  &__icon
    width: 128px
    height: 128px
    min-width: 128px
    min-height: 128px
    display: flex
    align-items: center
    justify-content: center
    margin-right: 50px
    background: #fff
    border-radius: 50%

    svg
      width: 53px
      height: 44px

  &__title
    font-weight: normal
    margin-bottom: 15px

    span
      font-weight: 600

@media screen and (min-width: 1300px)
  .reviews-down-line__button
    min-width: 190px

@media screen and (max-width: 1299px)
  .reviews-down-line
    &__dot-right
      transform: translateY(92%)

    &__inner
      padding-left: 24px
      padding-right: 24px
      justify-content: space-between

    &__icon
      margin-right: 30px

    &__title
      font-size: min(calc(22px + 5 * ((100vw - 375px) / 1545)), 28px)

@media screen and (max-width: 991px)
  .reviews-down-line
    &__dot-right
      transform: translateY(12%)

    &__buttons
      justify-content: center
      margin-top: 30px

    &__inner
      display: block
      text-align: center
      padding-top: 40px
      padding-bottom: 40px
      border-radius: 0

    &__icon
      display: none

    &__text
      justify-content: center

@media screen and (max-width: 767px)
  .reviews-down-line
    margin-top: 55px
    background: #F4F8FF

    &__inner
      padding-left: 10px
      padding-right: 10px
      background: unset

    &__dot-right
      right: -60px
      transform: translateY(17%)
      z-index: 1

    &__text
      padding: 0 25px

    &__buttons
      margin-top: 40px

    &__button
      min-width: 147px
      padding: 15px

      i
        margin-right: 18px