include ../components/header
include ../components/footer

doctype html

html(lang="en")
    head
        include parts/head
        block head

        include parts/styles
        block styles

    body(data-spy="scroll" data-target=".header-anchors-navigation" data-offset="260")
        <!-- Google Tag Manager (noscript) -->
        noscript.
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXJ9CBS" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        <!-- End Google Tag Manager (noscript) -->

        include ../components/up

        div
            block header
                +header()

            main
                block content

        block footer
            +footer()

        block modal

        block script-plugins

        include parts/scripts

        block scripts