extends layout/default

block content


    .buttons
        .btn.btn-primary Главная кнопка

        .split

        .btn.btn-primary-tab Кнопка вкладки

        .split

        .split

        .btn.btn-primary-tab.is-active Активная Кнопка вкладки

        .split

        .btn.btn-primary-while Белая кнопка

        .split

        .btn.btn-round-arrow
            i.icon-left-arrow

        .split

        .btn.btn-round-arrow.is-disabled
            i.icon-right-arrow

        .split

        .btn.btn-round-while
            i.icon-play

        .split

        .btn.btn-primary-split
            span Заказать
            span $20 за ТЗ


    style.
        .buttons {
            margin: 100px 50px;
        }

        .buttons .split {
            display: block;
            width: 1px;
            height: 50px;
        }

