extends layout/default

block title
    title Семантическое Ядро

block content
    include sections/home-intro
    include sections/home-statistics
    include sections/home-prices
    include sections/home-pluses
    include sections/home-process
    include sections/home-cases
    include sections/home-reviews
    include sections/home-webinar
    include sections/home-questions
    include sections/home-cooperation

block modal
    include components/modal

block script-plugins
    script( src=require('../js/vendor/jquery.min') )
    script( src=require('../js/vendor/jquery.fancybox.min') )
    script( src=require('../js/vendor/swiper.min') )
    script( src=require('../js/vendor/bootstrap.min') )
