.case-card

  &__inner
    display: flex

  &__image
    max-width: 610px

  &__content
    padding-top: 30px
    padding-bottom: 20px
    border-left: 1px solid #E9F0FF
    padding-left: 60px
    margin-left: 50px

    &-title
      margin-bottom: 30px

    &-subtitle
      margin-bottom: 3px

    &-group
      margin-bottom: 25px

    &-links
      margin-top: 40px

    &-link
      margin: 0 24px

      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0