.contact-box
  background: #ffffff
  box-shadow: $box-shadow-20
  border-radius: 20px


  &__btn
    font-size: 26px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

  &__vertical-line
    width: 1px
    height: 115px
    background: #E9F0FF
    margin-left: 35px
    margin-right: 35px

  &__content
    font-size: 22px

    a
      display: inline-block
      font-size: 21px
      text-decoration: underline
      color: $color-primary
      margin-top: 20px