.footer
  background: #ffffff
  font-size: 17px
  color: #585858
  font-family: 'TTCommons', sans-serif

  &__inner
    padding-top: 50px
    padding-bottom: 30px
    display: flex
    align-items: center
    justify-content: space-between

  &__developed-link
    color: $color-primary
