.is-loaded .header
  transition: border .3s, background-color .3s

.is-loaded .header__inner
  transition: padding .3s

.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  border-bottom: 1px solid rgba(#F5F5F5, 0)

  &__inner
    padding: 44px 0

    display: flex
    align-items: center
    justify-content: space-between

  &__column
    display: flex
    align-items: center

  &__logo

    svg
      max-width: 238px
      max-height: 39px
      display: block

  &__navigation
    margin-right: 50px

    ul
      display: flex

    li
      margin: 3px 25px 0

      a:hover
        color: #585858

      &:before
        content: unset
      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0


  &__telegram
    border-bottom-right-radius: 0

  &.is-scroll
    background: #ffffff
    border-color: #F5F5F5

    .header__inner
      padding: 20px 0