.section-title
  text-align: center

  &::after
    content: ''
    display: block
    width: 100%
    max-width: 187px
    height: 1px
    background: $color-primary
    margin: 5px auto 0


.section-subtitle-1,
.section-subtitle-2,
.section-subtitle-3
  font-family: 'TTCommons DemiBold', sans-serif

.section-subtitle-1
  font-size: 26px

.section-subtitle-2
  font-size: 24px

.section-subtitle-3
  font-size: 20px