.videos-box
  display: flex

  &__list
    box-sizing: border-box
    display: grid
    grid-template-columns: 1fr 1fr 1fr

  &__list-container
    overflow: unset

@media screen and (min-width: 1300px)
  .videos-box
    &__list
      grid-column-gap: 72px

    &__link-box
      max-height: 180px
      margin-left: 70px
      min-width: 31%

@media screen and (max-width: 1299px)
  .videos-box
    flex-direction: column

    &__list
      grid-column-gap: 10%
      padding-left: 30px
      padding-right: 30px

    &__link-box
      margin-left: auto
      margin-right: auto
      margin-top: 70px


@media screen and (max-width: 991px)
  .videos-box
    padding-left: 60px
    padding-right: 60px

    &__link-box
      margin-top: 40px

    &__pagination
      margin-top: 45px

    &__list-container
      width: 100%

    &__list
      display: grid
      width: 100%
      padding-left: 0
      padding-right: 0
      grid-column-gap: 0


@media screen and (max-width: 767px)
  .videos-box
    padding-left: 30px
    padding-right: 30px
