.videos-box
  display: flex

  &__list
    display: grid
    grid-template-columns: 1fr 1fr 1fr

@media screen and (min-width: 1300px)
  .videos-box
    &__list
      grid-column-gap: 72px

    &__link-box
      max-height: 180px
      margin-left: 70px
      min-width: 31%

@media screen and (max-width: 1299px)
  .videos-box
    flex-direction: column

    &__list
      grid-column-gap: 95px
      padding-left: 30px
      padding-right: 30px

    &__link-box
      margin-left: auto
      margin-right: auto
      margin-top: 70px