mixin footer()
    footer.footer
        .container
            .footer__inner

                .footer__copuright © 2020. Все права сохранены.

                ul.footer__paymethods
                    li
                        svg
                            use( xlink:href=sprite('pay-webmoney') )
                    li
                        svg
                            use( xlink:href=sprite('pay-yandex-money') )
                    li
                        svg
                            use( xlink:href=sprite('pay-payoneer') )
                    li
                        img( src=require('../img/swift.jpg') )
                .footer__developed Разработка сайта - <a href="http://greatpix.studio/" target="_blank" class="footer__developed-link">GreatPix</a>
