mixin footer()
    footer.footer
        .container
            .footer__inner

                .footer__copuright © 2020. Все права сохранены.
                .footer__developed Разработка сайта - <a href="http://greatpix.studio/" target="_blank" class="footer__developed-link">GreatPix</a>
